**.pyc
.idea/
.vscode/
rm.tar
connection_histories/*
backend/.venv/
backend/unit_test_coverage/
backend/history_*_to_*.txt
backend/connection_histories/

frontend/node_modules/
node_modules/
.scannerwork/
frontend/coverage